<form
  #registerForm="ngForm"
  (ngSubmit)="register(registerForm)"
  novalidate
  >
  <div class="p-inputgroup">
    <label
      for="email"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="email"
      required
      email="true"
      [(ngModel)]="email"
      pInputText
      placeholder="Enter your email"
      />
  </div>

  <div>
    {{registerForm.errors?.valuesNotMatch}}
    <p-password
      #pwm="ngModel"
      required
      minlength="6"
      maxlength="20"
      name="password"
      [(ngModel)]="password"
      [placeholder]="'Enter your password'"
      [toggleMask]="true"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [ngClass]="registerForm.errors?.valuesNotMatch ? {'ng-invalid':true} : ''"
      valuesMatch="logpwmatch"
      [valuesMatchControl]="pwm.control"
      >
      <ng-template
        pTemplate="header"
        >
          <h6
            class="mb-3"
            >
            Pick a password
          </h6>
      </ng-template>

      <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 8 characters</small>
      </ng-template>
    </p-password>

    <p-password
      #pwam="ngModel"
      required
      minlength="6"
      maxlength="20"
      name="passwordAgain"
      [(ngModel)]="passwordAgain"
      [toggleMask]="true"
      [placeholder]="'Enter your password again'"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      valuesMatch="logpwmatch"
      [valuesMatchControl]="pwam.control"
      >
      <ng-template
        pTemplate="header"
        >
          <h6
            class="mb-3"
            >
            Pick a password
          </h6>
      </ng-template>

      <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 8 characters</small>
      </ng-template>
    </p-password>
  </div>

  <div class="p-inputgroup">
    <label
      for="name"
      class="p-inputgroup-addon"
      >
      <i
        class="pi pi-user"
        ></i>
    </label>

    <input
      type="text"
      name="name"
      required
      minlength="3"
      maxlength="30"
      [(ngModel)]="name"
      pInputText
      placeholder="Enter your name"
      />
  </div>

  <div
    class="p-inputgroup"
    >
    <label
      for="surname"
      class="p-inputgroup-addon"
      >
      <i
        class="pi pi-user"
        ></i>
    </label>

    <input
      type="text"
      name="surname"
      required
      minlength="3"
      maxlength="30"
      [(ngModel)]="surname"
      pInputText
      placeholder="Enter your surname"
      >
  </div>

  <div>
    <p-selectButton
      name="gender"
      [options]="genderOptions"
      [formControl]="gender"
      (onOptionClick)="genderClick($event)"
      ></p-selectButton>
  </div>

  <div>
    <p-calendar
      name="birthDate"
      [(ngModel)]="birthDate"
      dateFormat="dd.mm.yy"
      placeholder="Birthdate"
      ></p-calendar>
  </div>

  <div>
    <p-autoComplete
      name="countryCode"
      class="country-code"
      [size]="2"
      [(ngModel)]="countryCode"
      [suggestions]="countryCodeSuggestions"
      (completeMethod)="searchCountryCode()"
      [forceSelection]="true"
      field="code"
      [required]="true"
      >
      <ng-template let-countryCode pTemplate="item">
        <img
          src="https://i.stack.imgur.com/4rtxd.png?s=64&g=1"
          style="width:32px;display:inline-block;margin:5px 0 2px 5px"
          />

        <div
          style="font-size:18px;margin:10px 10px 0 0"
          >
          {{countryCode.code+" "+countryCode.flag}}
        </div>
      </ng-template>
    </p-autoComplete>

    <p-inputMask
      name="phone"
      [(ngModel)]="phone"
      mask="(999) 999 99 99"
      minlength="10"
      slotChar="-"
      placeholder="phone"
      [required]="true"
      [autoClear]="false"
      [unmask]="true"
      ></p-inputMask>
  </div>

  <div>
    <p-autoComplete
      [required]="true"
      name="city"
      [(ngModel)]="city"
      [suggestions]="citySuggestions"
      (completeMethod)="searchCity()"
      [dropdown]="true"
      field="name"
      ></p-autoComplete>

    <p-autoComplete
      [required]="true"
      name="district"
      [(ngModel)]="district"
      [suggestions]="districtSuggestions"
      (completeMethod)="searchDistrict()"
      [dropdown]="true"
      [forceSelection]="true"
      >
      <ng-template let-district pTemplate="item">
        <img
          src="https://i.stack.imgur.com/4rtxd.png?s=64&g=1"
          style="width:32px;display:inline-block;margin:5px 0 2px 5px"
          />

        <div
          style="font-size:18px;float:right;margin:10px 10px 0 0"
          >
          {{district}}
        </div>
      </ng-template>
    </p-autoComplete>
  </div>

  <div class="p-inputgroup">
    <label
      for="address"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="address"
      minlength="3"
      maxlength="30"
      [(ngModel)]="address"
      pInputText
      placeholder="Enter your address"
      />
  </div>

  <div class="p-inputgroup">
    <label
      for="zip"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="zip"
      minlength="3"
      maxlength="30"
      [(ngModel)]="zip"
      pInputText
      placeholder="Zip/Postal Code"
      />
  </div>

  <div class="p-buttonset">
    <button
      type="submit"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      >
      Register
    </button>

    <button
      type="button"
      pButton
      pRipple
      class="p-button-raised p-button-text"
      [routerLink]="['/login']"
      >
      Login
    </button>
  </div>
</form>
