:host ::ng-deep {
  .p-toast-message-register {
      background-color: var(--green-50);
      border: solid var(--green-600);
      border-width: 0 0 0 6px;
      color: var(--green-800);
      .p-toast-icon-close {
          color: var(--green-600);
      }
  }

  .p-toast-message-register-error {
    background: #ffe7e6;
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
    .p-toast-icon-close {
        color: #fc4949;
    }
  }

  p-password > div {
    width: 100%!important;
  }
}
