<div class="d-flex align-items-center">

  <p-calendar
    *ngIf="enabled"
    [ngModel]="timeRange"
    (ngModelChange)="timeRangeChange($event)"
    [minDate]="minDate!"
    [maxDate]="maxDate!"
    selectionMode="range"
    [showTime]="true"
    inputId="time"
    style="width: 0;"
    styleClass="invisible-calendar"
    >
  </p-calendar>

  <p-button
    pRipple
    type="button"
    class="me-2"
    icon="pi pi-calendar"
    (click)="showCalendar()"
    >
  </p-button>

  <div class="datetime border rounded fw-bold">
    {{timeRange[0] | date : 'yyyy-MM-dd HH:mm'}}
  </div>

  <div>
    <span class="block rounded-circle d-flex align-items-center justify-content-center mx-2" style="width: 25px; height: 25px; background-color: var(--primary-500); color: var(--surface-0);">
      <i class="pi pi-arrow-right fw-bolder" style="font-size: 12px;"></i>
    </span>
  </div>

  <div class="datetime border rounded fw-bold">
    {{timeRange[1] | date : 'yyyy-MM-dd HH:mm'}}
  </div>
</div>
