* {
    box-sizing: border-box;
}

.template-body {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.template {
    width: 80%;
    height: 50%;
    box-shadow: 3px 1px 16px rgb(0 0 0 / 15%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-self: center;
}

.menu {
    width: 100vw;
    height: 80px;
    box-shadow: 3px 1px 16px rgb(0 0 0 / 15%);
    border-bottom: 1px solid rgb(0 0 0 / 15%);
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.spaces {
    width: 100%;
    height: 50%;
    display: flex;
}

.space {
    background-color: rgba(194, 194, 194, 0.25);
    border: 1px solid rgba(194, 194, 194, 0.25);
    flex: 1 1 100%;
}