* {
    box-sizing: border-box;
    font-family: monospace;
}

.template-body {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    width: 100vw;
    height: 80px;
    box-shadow: 3px 1px 16px rgb(0 0 0 / 7%);
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    padding: .5rem;
    font-weight: bolder;
    background-color: rgba(152, 193, 255, 0.6);
    border: 1px solid rgba(152, 193, 255, 1);
    cursor: pointer;
}

button:hover {
    background-color: rgba(152, 240, 255, 0.6);
    border: 1px solid rgba(152, 240, 255, 1);
}

button:active {
    background-color: rgba(45, 146, 241, 0.6);
    border: 1px solid rgba(45, 146, 241, 1);
}

.menu-item {
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.spaces {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 3px 1px 16px rgb(0 0 0 / 7%);
}

.space {
    background-color: rgba(214, 211, 211, 0.2);
    border: 1px solid rgba(214, 211, 211, 0.4);
    flex: 1 1 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.space-id {
    text-align: center;
}

.space-name {
    text-align: center;
}

.space-occupied {
    background-color: rgba(199, 51, 51, 0.2);
    border: 1px solid rgba(199, 51, 51, 0.4);
}

.space-empty {
    background-color: rgba(51, 199, 58, 0.2);
    border: 1px solid rgba(51, 199, 58, 0.4);
}