<p-toolbar>
  <div>
    <button pButton pRipple (click)="goMap()">Go Map</button>
  </div>
  <app-user-avatar
    class="p-toolbar-group-right"
    >
  </app-user-avatar>
</p-toolbar>

<div class="container mt-5 p-0">
  <p-breadcrumb class="page-breadcrumb" [model]="bcModel">
  </p-breadcrumb>
</div>
<div class="container mb-5 p-3 shadow-lg card">
  <app-park-form
    (formSubmit)="addPark($event)"
    [(park)]="park"
    [loading]="adding"
    submitLabel="Add"
    >
  </app-park-form>
</div>

<p-toast (onClose)="messageClose($event.message)"></p-toast>
