<p-toolbar>
  <div
    #searchBox
    class="p-toolbar-group-left"
    >
  </div>
  <div>
    <button
      pButton
      pRipple
      label="New Parking Lot"
      (click)="newPark()"
      >
    </button>
  </div>
  <app-user-avatar
    class="p-toolbar-group-right"
    >
  </app-user-avatar>
</p-toolbar>

<app-map
  [searchBoxParent]="searchBox"
  [isUserMap]="true"
  (markerOnClick)="markerClick($event)"
  >
</app-map>

<p-dialog
  #cd
  [modal]="true"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [closeOnEscape]="true"
  [closable]="true"
  [(visible)]="dialogVisible"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{width: '60vw',height: '100vh'}"
  >
  <ng-template pTemplate="header">
    <div>
      <h3 class="m-0">{{selectedPark?.name}} {{selectedPark!.id}}</h3>
      <h4 class="m-0">{{selectedPark?.location}}</h4>
    </div>
  </ng-template>

  <ng-template pTemplate="body">
    <div class="card">
      <p-table responsiveLayout="stack" [value]="[selectedPark!]">
        <ng-template pTemplate="caption">
            <h5>Price</h5>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Minimum Price</th>
              <th>Avarage Price</th>
              <th>Maximum Price</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-park>
            <tr>
              <td>
                <span class="p-column-title">Minimum Price</span>
                <span class="min-price">
                  {{park.minPrice | currency : "TRY" : "symbol" : "0.2-2"}}
                </span>
              </td>
              <td>
                <span class="p-column-title">Avarage Price</span>
                <span class="avarage-price">
                  {{park.avaragePrice | currency : "TRY" : "symbol" : "0.2-2"}}
                </span>
              </td>
              <td>
                <span class="p-column-title">Maximum Price</span>
                <span class="max-price">
                  {{park.maxPrice | currency : "TRY" : "symbol" : "0.2-2"}}
                </span>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>

    <div class="card mt-3">
      <p-table responsiveLayout="stack" [value]="[selectedPark!]">
        <ng-template pTemplate="caption">
            <h5>Park Status <span style="color:red">{{selectedPark!.statusUpdateTime | date : "yyyy-MM-dd HH:mm:ss}}</span></h5>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Empty Spaces</th>
              <th>Reserved Spaces</th>
              <th>Occupied Spaces</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-park>
            <tr>
              <td>
                <span class="p-column-title">Empty Spaces</span>
                <p-knob
                  [ngModel]="park.emptySpace"
                  styleClass="empty"
                  valueColor="#0f0"
                  rangeColor="#777"
                  [max]="spaceCount"
                  [size]="50"
                  [readonly]="true"
                  >
                </p-knob>
              </td>
              <td>
                <span class="p-column-title">Reserved Spaces</span>
                <p-knob
                  [ngModel]="park.reservedSpace"
                  styleClass="reserved"
                  valueColor="#f7b060"
                  rangeColor="#777"
                  [max]="spaceCount"
                  [size]="50"
                  [readonly]="true"
                  >
                </p-knob>
              </td>
              <td>
                <span class="p-column-title">Occupied Spaces</span>
                <p-knob
                  [ngModel]="park.occupiedSpace"
                  styleClass="occupied"
                  valueColor="#f00"
                  rangeColor="#777"
                  [max]="spaceCount"
                  [size]="50"
                  [readonly]="true"
                  >
                  </p-knob>
              </td>
            </tr>
          </ng-template>
      </p-table>
    </div>
    <div>
      Extras:
      <span *ngFor="let extra of selectedPark?.extras">
        {{extra}}
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="mt-3">
      <p-button type="button" icon="pi pi-car" label="Go Park" (onClick)="navigateToParkAreas(selectedPark!)" ></p-button>
      <p-button type="button" icon="pi pi-car" label="Edit Park" (onClick)="editPark(selectedPark!)" ></p-button>
      <p-button type="button" icon="pi pi-car" label="Delete Park" (onClick)="deletePark(selectedPark!)" ></p-button>
      <p-button type="button" icon="pi pi-times" label="Close" [styleClass]="'pi-button-error'" (onClick)="dialogVisible = false"></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  Content
</p-confirmDialog>
