<div class="d-flex flex-column h-100">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <div #searchBox class="search-box-parent"></div>

      <button
        pButton
        pRipple
        icon="pi pi-plus"
        (click)="newPark()"
        class="ms-2 new-park-button"
        >
      </button>
    </div>
    <app-user-avatar class="p-toolbar-group-right">
    </app-user-avatar>
  </p-toolbar>

  <app-map
    [searchBoxParent]="searchBox"
    [isUserMap]="true"
    (markerOnClick)="markerClick($event)"
    ngClass="flex-grow-1"
    >
  </app-map>
</div>

<app-map-dialog [managerMode]="true">
</app-map-dialog>

<p-toast></p-toast>
