:host ::ng-deep {
  .empty-chip {
    background-color: var(--parkla-green-lightest);
    color: var(--green-900);
    font-weight: bolder;
  }

  .occupied-chip {
    background-color: var(--red-500);
    color: var(--red-900);
    font-weight: bolder;
  }

  .unknown-chip {
    background-color: var(--surface-300);
    color: var(--surface-900);
    font-weight: bolder;
  }

  .datetime {
    border-color: var(--surface-400)!important;
    background-color: var(--primary-50);
    padding: 10px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.03);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--primary-900);
    width: 170px;
    height: 50px;
  }

}
