<div #parkHeader class="park-header">
  Areas
  <p-autoComplete
    [(ngModel)]="selectedArea"
    [suggestions]="areaSuggestions"
    (completeMethod)="searchArea($event)"
    [dropdown]="true"
    >
  </p-autoComplete>

  <p-calendar
    [(ngModel)]="timeRange"
    [minDate]="minDate"
    [maxDate]="maxDate"
    selectionMode="range"
    [showTime]="true"
    [showSeconds]="true"
    inputId="time"
    >
  </p-calendar>

</div>

<div #parkBody class="park-body">
  <canvas
    id="canvas"
    #parkCanvas
    class="canvas"
    >
  </canvas>
</div>
