<p-toolbar>
  <div>
    <button pButton pRipple (click)="goArea()" label="Go Area"></button>
  </div>
  <app-user-avatar class="p-toolbar-group-right">
  </app-user-avatar>
</p-toolbar>

<div style="height: calc( 100% - 70px );">
  <app-area-template-form
    [(area)]="area"
    (formSubmit)="editTemplate($event)"
    [loading]="editing"
    [realSpacesPageSize]="9"
    (onRealSpaceFetchError)="onRealSpaceFetchError($event)"
    (onRealSpaceAddError)="onRealSpaceAddError($event)"
    (onRealSpaceDeleteError)="onRealSpaceDeleteError($event)"
    class="flex-grow-1"
    >
  </app-area-template-form>
</div>

<p-toast (onClose)="messageClose($event.message)"></p-toast>
