<div
  class="d-flex
    align-items-center
    flex-column"
  (click)="markerClick($event)"
  >
  <div
    class="marker-info floating"
    >
    <div
      class="text-dark
      text-center
      mb-1
      fw-bolder"
      >
      {{park.statusUpdateTime | date : "yyyy-MM-dd HH:mm:ss}}
    </div>
    <div class="d-flex align-items-center justify-content-evenly fw-bold" style="font-size:12px;">
      <span class="min-price">
        {{park.minPrice | currency : "TRY" : "symbol" : "0.2-2"}}
      </span> -
      <span class="avg-price">
        {{park.avaragePrice | currency : "TRY" : "symbol" : "0.2-2"}}
      </span> -
      <span class="max-price">
        {{park.maxPrice | currency : "TRY" : "symbol" : "0.2-2"}}
      </span>
    </div>
    <div
      class="d-flex
        justify-content-evenly
        align-items-center"
      >
      <div>
        <p-knob
          [ngModel]="park.emptySpace"
          styleClass="empty"
          valueColor="#0f0"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
      <div>
        <p-knob
          [ngModel]="park.reservedSpace"
          styleClass="reserved"
          valueColor="#f7b060"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
      <div>
        <p-knob
          [ngModel]="park.occupiedSpace"
          styleClass="occupied"
          valueColor="#f00"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
    </div>
  </div>
  <div class="marker">

  </div>
</div>
