@use "sass:math";

$markerSize: 10px;
$infoWidth: 200px;
$infoHeight: 100px;

.marker {
  border: 1px solid red;
  background-color:red;
  width: $markerSize;
  height: $markerSize;
  position: relative;
  bottom: - math.div($markerSize, 2);
  border-radius: 50%;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 50%);
}

.marker-info {
  border: 1px solid rgba(110,110,109,0.3);
  width: 200px;
  height: 100px;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
  background-color: rgba(220, 220, 220, 0.9);
  padding: 5px 10px;
}

.floating {
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -10px); }
  100%   { transform: translate(0, 0px); }
}

::ng-deep {

  p-knob .p-knob-text {
    font-size: 1.6rem;
  }

  .empty {
    .p-knob-text {
      fill: #0f0;
      font-weight: bold;
    }
  }

  .reserved {
    .p-knob-text {
      fill: #df923a;
      font-weight: bold;
    }
  }

  .occupied {
    .p-knob-text {
      fill: #f00;
      font-weight: bold;
    }

  }



}
