<div
  class="d-flex
    align-items-center
    flex-column"
  (click)="markerClick($event)"
  >
  <div
    class="marker-info floating"
    >
    <div
      class="text-dark
      text-center
      mb-1
      fw-bolder"
      >
      {{park.status.timestamp | date : "dd-MM-yyyy hh:mm"}}
    </div>
    <div
      class="d-flex
        justify-content-evenly
        align-items-center"
      >
      <div>
        <p-knob
          [ngModel]="park.status.emptySpace"
          styleClass="empty"
          valueColor="#0f0"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
      <div>
        <p-knob
          [ngModel]="park.status.reservedSpace"
          styleClass="reserved"
          valueColor="#f7b060"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
      <div>
        <p-knob
          [ngModel]="park.status.occupiedSpace"
          styleClass="occupied"
          valueColor="#f00"
          rangeColor="#777"
          [max]="spaceCount"
          [size]="50"
          [readonly]="true"
          >
        </p-knob>
      </div>
    </div>
  </div>
  <div class="marker">

  </div>
</div>
