.add-extra {
  background-color: var(--parkla-green-light);
  cursor: pointer;
  border: none;
  &:hover {
    background-color: #00ff00;
  }
}

.remove-extra {
  background-color: rgb(253, 70, 70);
  border: 2px solid lightgray;
  cursor: pointer;

  &:hover {
    background-color: #ff0000;
  }
}

.fullscreen-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
}

#selectLatLngMap {
  width: 100vw;
  height: calc(100vh - 80px);
}

:host ::ng-deep{
  .p-button-label {
    transition: none;
  }
}
