<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton pRipple (click)="goMap()">Go Map</button>
  </div>
  <app-user-avatar
    class="p-toolbar-group-right"
    >
  </app-user-avatar>
</p-toolbar>

<app-spinner
  [blockSpinner]="true"
  [blocked]="dashboardLoading"
  [cancellable]="false"
  >
</app-spinner>

<p-chart
  type="pie"
  [data]="spacesPieData"
  [options]="spacesPieOptions"
  width="300px"
  >
</p-chart>

<p-chart
  type="line"
  [data]="spaceUsageLineData"
  [options]="spaceUsageLineOptions"
  width="600px"
  >
</p-chart>

<p-chart
  type="line"
  [data]="carCountUsedSpaceLineData"
  [options]="carCountUsedSpaceLineOptions"
  width="600px"
  >
</p-chart>

<p-chart
  type="line"
  [data]="earningLineData"
  [options]="earningLineOptions"
  width="600px"
  >
</p-chart>


<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-map-marker"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Parks</h3>
    <span>{{model.totalParks}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-table" style="background-color: var(--yellow-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Park Minimum Price</h3>
    <span>{{model.minParkPrice?.toFixed(2)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Park Average Price</h3>
    <span>{{model.averageParkPrice?.toFixed(2)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Park Maximum Price</h3>
    <span>{{model.maxParkPrice?.toFixed(2)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Park Areas</h3>
    <span>{{model.totalAreas}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Reservation Enabled Areas</h3>
    <span>{{model.totalReservationEnabledAreas}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Park Spaces</h3>
    <span>{{model.totalSpaces}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Reserved Spaces</h3>
    <span>{{model.totalReservedSpaces}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Reservations</h3>
    <span>{{model.totalReservations}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Earning</h3>
    <span>{{model.totalEarning?.toFixed(2)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Minimum Status Data Transfer Delay In Seconds</h3>
    <span>{{model.minStatusDataTransferDelayInSeconds?.toFixed(6)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Average Status Data Transfer Delay In Seconds</h3>
    <span>{{model.averageStatusDataTransferDelayInSeconds?.toFixed(6)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Maximum Status Data Transfer Delay In Seconds</h3>
    <span>{{model.maxStatusDataTransferDelayInSeconds?.toFixed(6)}}</span>
  </div>
</div>

<div class="metric-card">
  <div class="metric-card-icon">
    <i class="pi pi-car" style="background-color: var(--blue-400);"></i>
  </div>
  <div class="metric-card-body">
    <h3>Total Cars Used Park Spaces</h3>
    <span>{{model.totalCarsUsedSpaces}}</span>
  </div>
</div>

<div style="width: 800px;">
  <p-table
    [value]="model.topPopularParks"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="600px"
    >
    <ng-template pTemplate="caption">
      <h3>Top 10 Popular Parks</h3>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:60px"></th>
        <th style="min-width:200px">Name</th>
        <th style="min-width:600px">location</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td style="max-width:60px">{{index+1}}</td>
        <td style="min-width:200px">{{data.name}}</td>
        <td style="min-width:600px">{{data.location}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="width: 800px;">
  <p-table
    [value]="model.mostActiveUsers"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="600px"
    >
    <ng-template pTemplate="caption">
      <h3>Most Active 10 Users</h3>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:60px"></th>
        <th style="min-width:200px">Username</th>
        <th style="min-width:200px">Name</th>
        <th style="min-width:200px">Surname</th>
        <th style="min-width:200px">City</th>
        <th style="min-width:600px">E-Mail</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td style="max-width:60px">{{index+1}}</td>
        <td style="min-width:200px">{{data.username}}</td>
        <td style="min-width:200px">{{data.name}}</td>
        <td style="min-width:200px">{{data.surname}}</td>
        <td style="min-width:200px">{{data.city.name}}</td>
        <td style="min-width:600px">{{data.email}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div style="width: 800px;">
  <p-table
    [value]="model.spaceUsageTimePercentagesPerWeekday"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="600px"
    >
    <ng-template pTemplate="caption">
      <h3>Space Usage Percentage On WeekDays</h3>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:100px;"></th>
        <th style="min-width:150px;">Sunday</th>
        <th style="min-width:150px;">Monday</th>
        <th style="min-width:150px;">Tuesday</th>
        <th style="min-width:150px;">Wednesday</th>
        <th style="min-width:150px;">Thursday</th>
        <th style="min-width:150px;">Friday</th>
        <th style="min-width:150px;">Saturday</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-index="rowIndex">
      <tr>
        <td style="min-width:100px" class="fw-bolder">{{(index < 10 ? "0" : "")+index+":00"}}</td>
        <td style="min-width:150px">{{data[0].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[1].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[2].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[3].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[4].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[5].toFixed(6)}}<b>%</b></td>
        <td style="min-width:150px">{{data[6].toFixed(6)}}<b>%</b></td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast></p-toast>
