<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton pRipple (click)="goMap()">Go Map</button>
  </div>
  <app-user-avatar
    class="p-toolbar-group-right"
    >
  </app-user-avatar>
</p-toolbar>

<app-spinner
  [blockSpinner]="true"
  [blocked]="dashboardLoading"
  [cancellable]="false"
  >
</app-spinner>

<div class="p-5 pt-0 mx-5">
  <div class="d-flex">
    <div class="card m-3 p-3 d-inline-block shadow-sm" style="min-width: fit-content;">
      <h5>Spaces</h5>
      <p-chart
        type="pie"
        [data]="spacesPieData"
        [options]="spacesPieOptions"
        width="328px"
        class="m-3"
        >
      </p-chart>
    </div>

    <div class="d-flex flex-column">
      <div class="card h-50 m-3 p-3 shadow-sm">
        <div class="row m-0 p-0">
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-map-marker fs-4" style="color: var(--bs-blue);"></i>
              <h6 class="text-muted m-0 ms-2">Total Parks</h6>
            </div>
            <h3 class="mt-3">{{model.totalParks}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-sitemap fs-4" style="color: var(--bs-indigo);"></i>
              <h6 class="text-muted m-0 ms-2">Total Park Areas</h6>
            </div>
            <h3 class="mt-3">{{model.totalAreas}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-sitemap fs-4" style="color: var(--bs-purple);"></i>
              <h6 class="text-muted m-0 ms-2">Total Areas Reservations Enabled</h6>
            </div>
            <h3 class="mt-3">{{model.totalReservationEnabledAreas}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4">
            <div class="d-flex">
              <i class="pi pi-car fs-4" style="color: var(--bs-pink);"></i>
              <h6 class="text-muted m-0 ms-2">Total Park Spaces</h6>
            </div>
            <h3 class="mt-3">{{model.totalSpaces}}</h3>
          </div>
        </div>
      </div>
      <div class="card h-50 m-3 p-3 shadow-sm">
        <div class="row m-0 p-0">
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-car fs-4" style="color: var(--bs-red);"></i>
              <h6 class="text-muted m-0 ms-2 mb-3">Total Reserved Spaces</h6>
            </div>
            <h3 class="mt-3">{{model.totalReservedSpaces}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-calendar-minus fs-4" style="color: var(--bs-green);"></i>
              <h6 class="text-muted m-0 ms-2">Minimum Status Data Transfer Delay In Seconds</h6>
            </div>
            <h3 class="mt-3">{{model.minStatusDataTransferDelayInSeconds?.toFixed(6)}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4 border-end">
            <div class="d-flex">
              <i class="pi pi-calendar-minus fs-4" style="color: var(--bs-yellow);"></i>
              <h6 class="text-muted m-0 ms-2">Average Status Data Transfer Delay In Seconds</h6>
            </div>
            <h3 class="mt-3">{{model.averageStatusDataTransferDelayInSeconds?.toFixed(6)}}</h3>
          </div>
          <div class="col-md-3 my-4 p-4">
            <div class="d-flex">
              <i class="pi pi-calendar-minus fs-4" style="color: var(--bs-red);"></i>
              <h6 class="text-muted m-0 ms-2">Maximum Status Data Transfer Delay In Seconds</h6>
            </div>
            <h3 class="mt-3">{{model.maxStatusDataTransferDelayInSeconds?.toFixed(6)}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="card d-flex m-3 p-3 d-inline-block shadow-sm">
      <div class="flex-grow-1 my-2 mx-5 py-4 border-bottom">
        <div class="d-flex align-items-center">
          <i class="pi pi-dollar fs-4" style="color: var(--bs-green);"></i>
          <h6 class="text-muted m-0 ms-2">Park Minimum Price Per Hour</h6>
        </div>
        <h3 class="mt-3">₺{{model.minParkPrice?.toFixed(2) | number : "1.0" : "en-US"}}</h3>
      </div>
      <div class="flex-grow-1 my-2 mx-5 py-4 border-bottom">
        <div class="d-flex align-items-center">
          <i class="pi pi-dollar fs-4" style="color: var(--bs-orange);"></i>
          <h6 class="text-muted m-0 ms-2">Park Average Price Per Hour</h6>
        </div>
        <h3 class="mt-3">₺{{model.averageParkPrice?.toFixed(2) | number : "1.0" : "en-US"}}</h3>
      </div>
      <div class="flex-grow-1 my-2 mx-5 py-4">
        <div class="d-flex align-items-center">
          <i class="pi pi-dollar fs-4" style="color: var(--bs-red);"></i>
          <h6 class="text-muted m-0 ms-2">Park Maxmimum Price Per Hour</h6>
        </div>
        <h3 class="mt-3">₺{{model.maxParkPrice?.toFixed(2) | number : "1.0" : "en-US"}}</h3>
      </div>
    </div>
    <div class="card m-3 p-3 flex-grow-1 d-inline-block shadow-sm">
      <h5>Revenue</h5>
      <p-chart
        type="line"
        [data]="earningLineData"
        [options]="earningLineOptions"
        width="810px"
        >
      </p-chart>
    </div>
    <div class="card d-flex m-3 p-3 d-inline-block shadow-sm">
      <div class="flex-grow-1 my-2 mx-5 p-2 py-4 border-bottom">
        <div class="d-flex align-items-center">
          <i class="pi pi-money-bill fs-4" style="color: var(--bs-teal);"></i>
          <h6 class="text-muted m-0 ms-2">Total Revenue</h6>
        </div>
        <h3 class="mt-3">₺{{model.totalEarning?.toFixed(2) | number : "1.0" : "en-US"}}</h3>
      </div>
      <div class="flex-grow-1 my-2 mx-5 p-2 py-4 border-bottom">
        <div class="d-flex align-items-center">
          <i class="pi pi-clock fs-4" style="color: var(--bs-cyan);"></i>
          <h6 class="text-muted m-0 ms-2">Total Reservations</h6>
        </div>
        <h3 class="mt-3">{{model.totalReservations}}</h3>
      </div>
      <div class="flex-grow-1 my-2 mx-5 p-2 py-4">
        <div class="d-flex align-items-center">
          <i class="pi pi-car fs-4" style="color: var(--bs-gray);"></i>
          <h6 class="text-muted m-0 ms-2">Total Cars Used Park Spaces</h6>
        </div>
        <h3 class="mt-3">{{model.totalCarsUsedSpaces}}</h3>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card m-3 p-3 d-inline-block shadow-sm">
      <h5>Space Usage Times</h5>
      <p-chart
        type="line"
        [data]="spaceUsageLineData"
        [options]="spaceUsageLineOptions"
        width="810px"
        >
      </p-chart>
    </div>
    <div class="card m-3 p-3 d-inline-block shadow-sm">
      <h5>Car Count Used Space</h5>
      <p-chart
        type="line"
        [data]="carCountUsedSpaceLineData"
        [options]="carCountUsedSpaceLineOptions"
        width="810px"
        >
      </p-chart>
    </div>
  </div>

  <div class="d-flex">
    <div class="card m-3 p-3 d-inline-block shadow-sm">
      <h5>Top 10 Popular Parks</h5>
      <p-table
        [value]="model.topPopularParks"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="300px"
        styleClass="mt-4 border"
        >
        <ng-template pTemplate="header">
          <tr>
            <th style="max-width:60px"></th>
            <th style="min-width:200px">Name</th>
            <th style="min-width:600px">location</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-index="rowIndex">
          <tr>
            <td style="max-width:60px">{{index+1}}</td>
            <td style="min-width:200px">{{data.name}}</td>
            <td style="min-width:600px">{{data.location}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card m-3 p-3 d-inline-block shadow-sm">
      <h5>Most Active 10 Users</h5>
      <p-table
        [value]="model.mostActiveUsers"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="300px"
        styleClass="mt-4 border"
        >
        <ng-template pTemplate="header">
          <tr>
            <th style="max-width:60px"></th>
            <th style="min-width:200px">Username</th>
            <th style="min-width:200px">Name</th>
            <th style="min-width:200px">Surname</th>
            <th style="min-width:200px">City</th>
            <th style="min-width:600px">E-Mail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-index="rowIndex">
          <tr>
            <td style="max-width:60px">{{index+1}}</td>
            <td style="min-width:200px">{{data.username}}</td>
            <td style="min-width:200px">{{data.name}}</td>
            <td style="min-width:200px">{{data.surname}}</td>
            <td style="min-width:200px">{{data.city?.name}}</td>
            <td style="min-width:600px">{{data.email}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="p-3">
    <div class="card w-100 p-3 d-inline-block shadow-sm">
      <h5>Space Usage Percentage On WeekDays</h5>
      <p-table
        [value]="model.spaceUsageTimePercentagesPerWeekday"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="600px"
        styleClass="mt-4 border"
        >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width:100px;"></th>
            <th style="min-width:150px;">Sunday</th>
            <th style="min-width:150px;">Monday</th>
            <th style="min-width:150px;">Tuesday</th>
            <th style="min-width:150px;">Wednesday</th>
            <th style="min-width:150px;">Thursday</th>
            <th style="min-width:150px;">Friday</th>
            <th style="min-width:150px;">Saturday</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-index="rowIndex">
          <tr>
            <td style="min-width:100px" class="fw-bolder">{{(index < 10 ? "0" : "")+index+":00"}}</td>
            <td style="min-width:150px">{{data[0].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[1].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[2].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[3].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[4].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[5].toFixed(6)}}<b>%</b></td>
            <td style="min-width:150px">{{data[6].toFixed(6)}}<b>%</b></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-toast></p-toast>
