<form
  #verifyForm="ngForm"
  (ngSubmit)="verify(verifyForm)"
>
  <h6>
    <label for="verificationCode">Verification Code</label>
  </h6>
  <div class="p-inputgroup mb-0">
    <label
      for="verificationCode"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-shield"></i>
    </label>

    <input
      type="text"
      name="verificationCode"
      required
      maxlength="30"
      [(ngModel)]="verifCode"
      pInputText
      />
  </div>
  <div style="color: var(--gray-600)">
    <small>Verification code has been sent to the email. Please enter the verification code.</small>
  </div>

  <div class="p-buttonset mt-3">
    <button
      type="submit"
      class="p-button-raised"
      pButton
      pRipple
      [loading]="verifying || loading"
      label="Verify"
      >
    </button>
    <button
      type="button"
      class="p-button-raised p-button-danger"
      pButton
      pRipple
      label="Cancel"
      (click)="CancelVerify()"
      >
    </button>
  </div>
</form>
<p-toast key="veriftoast" position="bottom-right"></p-toast>
