<form
  #userForm="ngForm"
  (ngSubmit)="submit(userForm)"
  novalidate
  >
  <h6>
    <label for="username">Username</label>
  </h6>
  <div class="p-inputgroup">
    <label
      for="username"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="username"
      required
      [(ngModel)]="username"
      pInputText
      maxlength="30"
      pattern="[a-zA-Z0-9]+"
      [readonly]="isEdit"
      />
  </div>

  <h6 class="mt-3">
    <label for="email">E-Mail</label>
  </h6>
  <div class="p-inputgroup">
    <label
      for="email"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-at"></i>
    </label>

    <input
      type="text"
      name="email"
      required
      email="true"
      maxlength="320"
      [(ngModel)]="email"
      pInputText
      />
  </div>

  <div
    *ngIf="!isEdit"
    class="row mt-3"
    >
    <div class="col-md-6">
      <h6>
        <label for="password">Password</label>
      </h6>
      <div class="p-inputgroup">
        <label
          for="password"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-lock"></i>
        </label>
        <p-password
          #pwm="ngModel"
          required
          minlength="6"
          maxlength="20"
          name="password"
          [(ngModel)]="password"
          [toggleMask]="true"
          [ngClass]="userForm.errors?.valuesNotMatch ? {'ng-invalid':true} : ''"
          valuesMatch="logpwmatch"
          [valuesMatchControl]="pwm.control"
          >
          <ng-template
            pTemplate="header"
            >
              <h6
                class="mb-3"
                >
                Pick a password
              </h6>
          </ng-template>

          <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 6 characters</small>
          </ng-template>
        </p-password>
      </div>
    </div>
    <div class="col-md-6">
      <h6>
        <label for="passwordAgain">Password Again</label>
      </h6>
      <div class="p-inputgroup">
        <label
          for="passwordAgain"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-lock"></i>
        </label>
        <p-password
          #pwam="ngModel"
          required
          minlength="6"
          maxlength="20"
          name="passwordAgain"
          [(ngModel)]="passwordAgain"
          [toggleMask]="true"

          valuesMatch="logpwmatch"
          [valuesMatchControl]="pwam.control"
          >
          <ng-template
            pTemplate="header"
            >
              <h6
                class="mb-3"
                >
                Pick a password
              </h6>
          </ng-template>

          <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 8 characters</small>
          </ng-template>
        </p-password>
      </div>
    </div>
  </div>

  <p-divider
    align="center"
    class="m-5"
    type="dashed"
    >
    <small style="color: var(--gray-500)">
      Personal Information
    </small>
  </p-divider>

  <div class="row">
    <div class="col-md-6">
      <div class="p-inputgroup">
        <label
          for="phone"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-id-card"></i>
        </label>
        <input
          type="text"
          name="name"
          required
          minlength="1"
          maxlength="50"
          [(ngModel)]="name"
          pInputText
          placeholder="Name"
          class="w-100"
          />
      </div>
    </div>
    <div class="col-md-6">
      <input
        type="text"
        name="surname"
        required
        minlength="1"
        maxlength="50"
        [(ngModel)]="surname"
        pInputText
        placeholder="Surname"
        class="w-100"
        />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="p-inputgroup">
        <label
          for="phone"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-phone"></i>
        </label>
        <p-inputMask
          name="phone"
          [(ngModel)]="phone"
          mask="(999) 999 99 99"
          [minlength]="10"
          [maxlength]="10"
          slotChar="-"
          placeholder="Phone"
          [required]="true"
          [autoClear]="false"
          [unmask]="true"
          class="w-100"
          styleClass="w-100"
          >
        </p-inputMask>
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-inputgroup">
        <label
          for="birthDate"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-calendar-times"></i>
        </label>
        <p-calendar
          name="birthDate"
          [(ngModel)]="birthdate"
          dateFormat="dd.mm.yy"
          placeholder="Birthdate"
          styleClass="w-100"
          >
        </p-calendar>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <div class="p-inputgroup">
        <label
          for="phone"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-home"></i>
        </label>
        <p-autoComplete
          name="city"
          [ngModel]="city"
          (ngModelChange)="cityChange($event)"
          [suggestions]="citySuggestions"
          placeholder="City"
          (completeMethod)="searchCity($event)"
          [dropdown]="true"
          [showEmptyMessage]="true"
          [emptyMessage]="cityEmptyMessage"
          [forceSelection]="true"
          field="name"
          [delay]="1000"
          class="w-100"
          styleClass="w-100"
          >
        </p-autoComplete>
      </div>
    </div>
    <div class="col-md-6">
      <p-autoComplete
        name="district"
        [(ngModel)]="district"
        [suggestions]="districtSuggestions"
        (completeMethod)="searchDistrict($event)"
        [dropdown]="true"
        placeholder="District"
        [forceSelection]="true"
        [showEmptyMessage]="true"
        [forceSelection]="true"
        [emptyMessage]="districtEmptyMessage"
        [disabled]="!city"
        field="name"
        [delay]="1000"
        class="w-100"
        styleClass="w-100"
        >
      </p-autoComplete>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-8">
      <div class="p-inputgroup">
        <label
          for="address"
          class="p-inputgroup-addon"
          >
          <i class="pi pi-map-marker"></i>
        </label>

        <input
          type="text"
          name="address"
          maxlength="200"
          [(ngModel)]="address"
          pInputText
          placeholder="Address"
          />
      </div>
    </div>
    <div class="col-md-4">
      <p-selectButton
        name="gender"
        [options]="genderOptions"
        [(ngModel)]="gender"
        >
      </p-selectButton>
    </div>
  </div>

  <button
    type="submit"
    pButton
    pRipple
    class="p-button-raised p-button-primary w-100 mb-3 mt-5"
    [label]="submitLabel"
    [loading]="loading"
    >
  </button>
</form>
