<form
  #userForm="ngForm"
  (ngSubmit)="submit(userForm)"
  novalidate
  >

  <div class="p-inputgroup">
    <label
      for="username"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="username"
      required
      [(ngModel)]="username"
      pInputText
      maxlength="30"
      placeholder="Username"
      pattern="[a-zA-Z0-9]+"
      [readonly]="isEdit"
      />
  </div>

  <div class="p-inputgroup">
    <label
      for="email"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="email"
      required
      email="true"
      maxlength="320"
      [(ngModel)]="email"
      pInputText
      placeholder="Email"
      />
  </div>

  <div>
    <p-password
      #pwm="ngModel"
      required
      minlength="6"
      maxlength="20"
      name="password"
      [(ngModel)]="password"
      [placeholder]="'Password'"
      [toggleMask]="true"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      [ngClass]="userForm.errors?.valuesNotMatch ? {'ng-invalid':true} : ''"
      valuesMatch="logpwmatch"
      [valuesMatchControl]="pwm.control"
      >
      <ng-template
        pTemplate="header"
        >
          <h6
            class="mb-3"
            >
            Pick a password
          </h6>
      </ng-template>

      <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 6 characters</small>
      </ng-template>
    </p-password>

    <p-password
      #pwam="ngModel"
      required
      minlength="6"
      maxlength="20"
      name="passwordAgain"
      [(ngModel)]="passwordAgain"
      [toggleMask]="true"
      [placeholder]="'Password again'"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
      valuesMatch="logpwmatch"
      [valuesMatchControl]="pwam.control"
      >
      <ng-template
        pTemplate="header"
        >
          <h6
            class="mb-3"
            >
            Pick a password
          </h6>
      </ng-template>

      <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <small class="d-block mb-3">one uppercase,lowercase,numeric <br>minimum 8 characters</small>
      </ng-template>
    </p-password>
  </div>

  <div class="p-inputgroup">
    <label
      for="name"
      class="p-inputgroup-addon"
      >
      <i
        class="pi pi-user"
        ></i>
    </label>

    <input
      type="text"
      name="name"
      required
      minlength="1"
      maxlength="50"
      [(ngModel)]="name"
      pInputText
      placeholder="Name"
      />
  </div>

  <div
    class="p-inputgroup"
    >
    <label
      for="surname"
      class="p-inputgroup-addon"
      >
      <i
        class="pi pi-user"
        ></i>
    </label>

    <input
      type="text"
      name="surname"
      required
      minlength="1"
      maxlength="50"
      [(ngModel)]="surname"
      pInputText
      placeholder="Surname"
      >
  </div>
  <div>
    <p-inputMask
      name="phone"
      [(ngModel)]="phone"
      mask="(999) 999 99 99"
      [minlength]="10"
      [maxlength]="10"
      slotChar="-"
      placeholder="Phone"
      [required]="true"
      [autoClear]="false"
      [unmask]="true"
      ></p-inputMask>
  </div>

  <div>
    <p-selectButton
      name="gender"
      [options]="genderOptions"
      [formControl]="gender"
      (onOptionClick)="genderClick($event)"
      ></p-selectButton>
  </div>

  <div>
    <p-calendar
      name="birthDate"
      [(ngModel)]="birthdate"
      dateFormat="dd.mm.yy"
      placeholder="Birthdate"
      ></p-calendar>
  </div>

  <div>
    <p-autoComplete
      name="city"
      [(ngModel)]="city"
      [suggestions]="citySuggestions"
      placeholder="City"
      (completeMethod)="searchCity($event)"
      [dropdown]="true"
      [showEmptyMessage]="true"
      [emptyMessage]="cityEmptyMessage"
      [forceSelection]="true"
      field="name"
      [delay]="1000"
      ></p-autoComplete>

    <p-autoComplete
      name="district"
      [(ngModel)]="district"
      [suggestions]="districtSuggestions"
      (completeMethod)="searchDistrict($event)"
      [dropdown]="true"
      placeholder="District"
      [forceSelection]="true"
      [showEmptyMessage]="true"
      [forceSelection]="true"
      [emptyMessage]="districtEmptyMessage"
      field="name"
      [delay]="1000"
      >
      <ng-template let-district pTemplate="item">
        <img
          src="https://i.stack.imgur.com/4rtxd.png?s=64&g=1"
          style="width:32px;display:inline-block;margin:5px 0 2px 5px"
          />

        <div
          style="font-size:18px;float:right;margin:10px 10px 0 0"
          >
          {{district.name}}
        </div>
      </ng-template>
    </p-autoComplete>
  </div>

  <div class="p-inputgroup">
    <label
      for="address"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="address"
      maxlength="200"
      [(ngModel)]="address"
      pInputText
      placeholder="Address"
      />
  </div>

  <div class="p-buttonset">
    <button
      type="submit"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      [label]="submitLabel"
      [loading]="loading"
      >
    </button>

    <button
      *ngIf="!isEdit"
      type="button"
      pButton
      pRipple
      class="p-button-raised p-button-text"
      [routerLink]="['/login']"
      label="Login"
      >
    </button>
  </div>
</form>
