<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      pRipple
      (click)="goAreas()"
      label="Areas"
      icon="pi pi-arrow-left"
      >
    </button>
  </div>

  <app-time-range
    *ngIf="selectedArea.reservationsEnabled"
    (onChange)="timeRangeChange($event)"
    [enabled]="selectedArea.reservationsEnabled"
    [minDate]="minDate"
    [maxDate]="maxDate"
    >
  </app-time-range>

  <app-user-avatar
    class="p-toolbar-group-right"
    >
  </app-user-avatar>
</p-toolbar>

<div style="height: calc( 100% - 70px );">
  <app-area-template
    #parkTemplate
    [parkArea]="selectedArea"
    (spaceClicked)="spaceClicked($event)"
    (reservationChanges)="reservationChanges($event.reservation,$event.isDelete)"
    (spaceChanges)="spaceChanges($event.space,$event.isDelete)"
    ngClass="flex-grow-1"
    >
  </app-area-template>
</div>

<app-reservation-modal
  [selectedSpace]="selectedSpace"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [showReservationModal]="showReservationModal"
  (reserveSpace)="reserveSpace($event.space, $event.timeRange)"
  [selectedTime]="selectedTime"
  >
</app-reservation-modal>

<p-toast></p-toast>
