<app-edit-area-template
  #editAreaTemplateRef
  [parkArea]="area"
  (spaceClicked)="spaceClicked($event)"
  (spaceRightClicked)="spaceRightClicked($event)"
  [(selectingSpacePath)]="spaceAdding"
  (spacePathSelected)="addTemplateSpaceDone($event)"
  >
</app-edit-area-template>

<form
  #editTemplateForm="ngForm"
  (ngSubmit)="submit(editTemplateForm)"
  >

  <div class="d-flex justify-content-between p-3">
    <button
      type="submit"
      pButton
      pRipple
      label="Edit"
      [loading]="loading"
      [disabled]="spaceAdding"
      >
    </button>
    <div class="p-buttonset d-inline-block">
      <button
        type="button"
        pButton
        pRipple
        [icon]="'pi ' + (spaceAdding ? 'pi-times' : 'pi-plus')"
        [ngClass]="'p-button ' + (spaceAdding ? 'p-button-danger': 'p-button-success')"
        (click)="addTemplateSpace()"
        >
      </button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-image"
        (click)="setTemplateImageButton($event)"
        [disabled]="spaceAdding"
        >
      </button>

      <input
        type="file"
        hidden="true"
        accept="image/*"
        (change)="setTemplateImage($event)"
        class="d-none"
        />

      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-trash"
        class="p-button p-button-danger"
        (click)="clearTemplateSpace()"
        [disabled]="spaceAdding"
        >
      </button>
    </div>
  </div>

  <div
    *ngIf="spaceModalVisible"
    class="fullscreen-modal"
    >
    <div class="p-2 d-flex" style="height: 80px;">
      <button
        type="button"
        pButton
        pRipple
        label="Done"
        (click)="spaceModalDone()"
        class="me-1"
        >
      </button>
      <input
        pInputText
        name="name"
        type="text"
        maxlength="30"
        [(ngModel)]="editingSpace.name"
        required
        class="flex-grow-1"
        placeholder="Space name"
        />
    </div>
    <div
      style="height: calc( 100vh - 80px );"
      class="overflow-auto"
      >
      <p-table
        #dt
        [value]="realSpaces"
        [paginator]="true"
        [rows]="realSpacesPageSize"
        [first]="nextRecord"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        [showPageLinks]="true"
        [lazy]="true"
        [loading]="realSpacesLoading"
        (onLazyLoad)="loadRealSpaces($event)"
        selectionMode="single"
        [(selection)]="selectedRealSpace"
        dataKey="id"
        responsiveLayout="stack"
        >
        <ng-template pTemplate="caption">
          <div class="d-flex justify-content-between">
              <button
                type="button"
                pButton
                label="Clear"
                class="p-button-outlined"
                icon="pi pi-filter-slash"
                (click)="clearTable(dt,searchInput)"
                >
              </button>
              <button
                type="button"
                pButton
                class="p-button-outlined"
                icon="pi pi-plus"
                >
              </button>
              <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input
                    #searchInput
                    pInputText
                    type="search"
                    (input)="onSearchInput($event)"
                    placeholder="Search" />
              </span>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Space Id</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-space>
          <tr [pSelectableRow]="space">
            <td>
              <span class="p-column-title">Id</span>
              {{space.id}}
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{space.name}}
            </td>
            <td>
              <span class="p-column-title">Name</span>
              {{space.spaceId ?? '-'}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
          <tr>
              <td colspan="2">
                <input
                  pInputText
                  name="realSpaceName"
                  type="text"
                  maxlength="30"
                  [(ngModel)]="newRealSpaceName"
                  novalidate
                  class="w-100"
                  placeholder="New real space name"
                  />
              </td>
          </tr>
      </ng-template>
      </p-table>
    </div>
  </div>
</form>

<p-confirmDialog></p-confirmDialog>
