.fullscreen-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: white;
}

:host ::ng-deep{
  .p-fileupload-choose {
    display: inline-block;

    .p-button-label {
      display: none;
    }
  }

  .p-button-label {
    transition: none;
  }
}
