.add-pricing {
  background-color: rgb(70, 230, 55);
  cursor: pointer;
  border: none;
  &:hover {
    background-color: #00ff00;
  }
}

.remove-pricing {
  background-color: rgb(253, 70, 70);
  border-color: rgb(253, 70, 70)!important;
  border: 2px solid lightgray;
  cursor: pointer;

  &:hover {
    background-color: #ff0000;
    border-color: #ff0000!important;
  }
}
