<form
  #addAreaForm="ngForm"
  (ngSubmit)="submit(addAreaForm)"
  >

  <div class="p-inputgroup">
    <label
      for="name"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="name"
      required
      [(ngModel)]="area.name"
      pInputText
      placeholder="Area name"
      pattern="[a-zA-Z0-9 ]+"
      maxlength="50"
      />
  </div>

  <div class="p-inputgroup">
    <label
      for="location"
      class="p-inputgroup-addon"
      >
      <i class="pi pi-user"></i>
    </label>

    <input
      type="text"
      name="description"
      maxlength="200"
      [(ngModel)]="area.description"
      pInputText
      placeholder="Area description"
      pattern="[a-zA-Z0-9 ]+"
      />
  </div>

  <div>
    <h5>Reservations</h5>
    <p-selectButton
      name="reservationsEnabled"
      [options]="[{label:'Enabled',value:true},{label:'Disabled',value:false}]"
      [(ngModel)]="area.reservationsEnabled"
      optionLabel="label"
      optionValue="value"
      [required]="true"
      >
    </p-selectButton>
  </div>

  <div *ngFor="let pricing of area.pricings; let i=index" class="p-inputgroup" >
    <input
      [name]='"pricing"+i'
      type="text"
      pInputText
      placeholder="Pricing type"
      required
      maxlength="30"
      [(ngModel)]="pricing.type"
      />

    <p-inputNumber
      [name]="'pricing'+i+'-amount'"
      [(ngModel)]="pricing.amount"
      [max]="999"
      [required]="true"
      placeholder="Time amount"
      >
    </p-inputNumber>

    <p-dropdown
      [name]="'pricing'+i+'-unit'"
      [options]="timeUnitOptions"
      [(ngModel)]="pricing.unit"
      placeholder="Time unit"
      [required]="true"
      >
    </p-dropdown>

    <p-inputNumber
      [name]="'pricing'+i+'-price'"
      [(ngModel)]="pricing.price"
      [max]="999999999999999999999999999999"
      [required]="true"
      placeholder="Price"
      >
    </p-inputNumber>


    <button
      pButton
      pRipple
      type="button"
      class="p-inputgroup-addon remove-pricing"
      (click)="removePricing(i)"
      >
      <i class="pi pi-minus" style="line-height: 1.25;color:white"></i>
    </button>
  </div>

  <div class="d-flex justify-content-end mt-1 mb-2">
    <button
      pButton
      type="button"
      class="add-pricing"
      (click)="addPricing()"
      icon="pi pi-plus"
      [style]="area.pricings && area.pricings!.length > 0 ? 'width: 63px;':''"
      [label]="area.pricings && area.pricings!.length > 0 ? '' : 'Add Pricing'"
      >
    </button>
  </div>

  <div>
    <button
      type="submit"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      [label]="submitLabel"
      [loading]="loading"
      >
    </button>
  </div>
</form>
