:host ::ng-deep {
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .area-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 450px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }
  }

  .area-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;

    img {
        width: 80%;
        height: 300px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin: 2rem 0;
    }
  }

  .reservable-chip {
    background: var(--orange-100);
    color: var(--orange-500);
    font-weight: bold;
    font-size: 12px;
  }

  .description {
    font-size: 14px;
    height: 90px;
    font-family: 'Segoe UI';
  }

  .no-description {
    font-size: 12px;
    background-color: var(--surface-200);
    font-family: monospace;
  }
}

.new-area-button {
  background-color: var(--parkla-green-light);
  border-color: var(--parkla-green-light);

  &:hover {
    background-color: var(--parkla-green-lightest);
    border-color: var(--parkla-green-lightest);
  }
}
