<p-dataView
  #dv
  [value]="areas"
  [paginator]="true"
  [rows]="pageSize"
  [first]="nextRecord"
  [totalRecords]="totalRecords"
  [showCurrentPageReport]="true"
  [showPageLinks]="true"
  [lazy]="true"
  [loading]="loading"
  (onLazyLoad)="loadData($event)"
  filterBy="id,name,description"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  layout="grid"
  >
  <ng-template pTemplate="header">
    <div class="d-flex flex-row align-items-md-center">
        <p-dropdown
          [options]="sortOptions"
          placeholder="Sort By Price"
          (onChange)="onSortChange($event)"
          class="me-2"
          >
        </p-dropdown>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="search"
              pInputText
              placeholder="Search by Name"
              (input)="onSearchInput($event)"
              />
        </span>
        <button
          *ngIf="managerMode"
          pButton
          pRipple
          icon="pi pi-plus"
          (click)="newArea()"
          class="ms-md-2 new-area-button"
          >
        </button>
        <div class="flex-grow-1"></div>
        <p-dataViewLayoutOptions class="d-inline-flex align-content-end"></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <ng-template let-area pTemplate="listItem">
    <div class="col-12">
      <div class="area-list-item">
          <img #img1 [src]="getImageUrl(area)" onerror="onImageError(img1)"/>
          <div class="d-flex flex-column justify-content-between align-self-stretch flex-grow-1">
            <div class="d-flex justify-content-between">
              <div class="fw-bold">
                  <span style="color: var(--green-500);">{{area.emptySpace}}</span>
                  -
                  <span style="color: var(--orange-500);">{{area.reservedSpace}}</span>
                  -
                  <span style="color: var(--red-500);">{{area.occupiedSpace}}</span>
              </div>

              <div
                *ngIf="area.minPrice && area.averagePrice && area.maxPrice; else noPricing"
                class="fw-bold"
                >
                <span style="color: var(--green-500);">
                  ₺{{area.minPrice.toFixed(2) | number : "1.0" : "en-US"}}
                </span>
                -
                <span style="color: var(--orange-500);">
                  ₺{{area.averagePrice.toFixed(2) | number : "1.0" : "en-US"}}
                </span>
                -
                <span style="color: var(--red-500);">
                  ₺{{area.maxPrice.toFixed(2) | number : "1.0" : "en-US"}}
                </span>
              </div>
              <ng-template #noPricing>
                <div style="font-family: 'Lucida Sans';" class="text-muted">
                  Pricing Undefined
                </div>
              </ng-template>
            </div>

            <h6 class="text-center fw-normal" style="font-family: 'Lucida Sans';">
              <span *ngIf="area.statusUpdateTime; else notUpdated">{{area.statusUpdateTime | date : "yyyy-MM-dd HH:mm:ss"}}</span>
              <ng-template #notUpdated>
                <span class="text-muted">Never Updated</span>
              </ng-template>
            </h6>

            <div class="d-flex flex-column align-items-center">
                <h4>{{area.name}}</h4>
                <div class="mt-2">
                  <p-chip
                    styleClass="no-description mt-4"
                    label="No Description"
                    *ngIf="!area.description"
                    >
                  </p-chip>
                  <p class="text-break">{{area.description}}</p>
                </div>
            </div>
            <div class="d-flex mt-3">
              <p-button
                icon="pi pi-car"
                label="Go Area"
                (click)="goArea(area)"
                styleClass="p-button-success"
                >
              </p-button>
              <p-chip
                *ngIf="area.reservationsEnabled"
                class="fw-bold align-self-center ms-2"
                label="Reservable"
                styleClass="reservable-chip"
                >
              </p-chip>
              <div class="flex-grow-1"></div>
              <p-button
                *ngIf="managerMode"
                icon="pi pi-pencil"
                (click)="editArea(area)"
                class="me-2"
                >
              </p-button>
              <p-button
                *ngIf="managerMode"
                icon="pi pi-trash"
                styleClass="p-button-danger"
                (click)="deleteArea(area)"
                >
              </p-button>
            </div>
          </div>
      </div>
    </div>
  </ng-template>

  <ng-template let-area pTemplate="gridItem">
    <div class="col-12 col-md-6 col-lg-4 d-inline-block">
      <div class="area-grid-item">
        <div class="d-flex justify-content-between">
            <div class="fw-bold">
                <span style="color: var(--green-500);">{{area.emptySpace}}</span>
                -
                <span style="color: var(--orange-500);">{{area.reservedSpace}}</span>
                -
                <span style="color: var(--red-500);">{{area.occupiedSpace}}</span>
            </div>

            <div
              *ngIf="area.minPrice && area.averagePrice && area.maxPrice; else noPricing"
              class="fw-bold"
              >
              <span style="color: var(--green-500);">
                ₺{{area.minPrice.toFixed(2) | number : "1.0" : "en-US"}}
              </span>
              -
              <span style="color: var(--orange-500);">
                ₺{{area.averagePrice.toFixed(2) | number : "1.0" : "en-US"}}
              </span>
              -
              <span style="color: var(--red-500);">
                ₺{{area.maxPrice.toFixed(2) | number : "1.0" : "en-US"}}
              </span>
            </div>
            <ng-template #noPricing>
              <div style="font-family: 'Lucida Sans';" class="text-muted">
                Pricing Undefined
              </div>
            </ng-template>
        </div>

        <h6 class="text-center fw-normal" style="font-family: 'Lucida Sans';">
          <span *ngIf="area.statusUpdateTime; else notUpdated">{{area.statusUpdateTime | date : "yyyy-MM-dd HH:mm:ss"}}</span>
          <ng-template #notUpdated>
            <span class="text-muted">Never Updated</span>
          </ng-template>
        </h6>

        <div class="d-flex justify-content-center">
          <img
            #img2
            [src]="getImageUrl(area)"
            onerror="onImageError(img2)"
            />
        </div>
        <div class="d-flex flex-column align-items-center">
            <h4>{{area.name}}</h4>
            <div class="description mt-2">
              <p-chip
                styleClass="no-description mt-4"
                label="No Description"
                *ngIf="!area.description"
                >
              </p-chip>
              <p class="text-break">{{area.description}}</p>
            </div>
        </div>
        <div class="d-flex mt-3">
          <p-button
            icon="pi pi-car"
            label="Go Area"
            (click)="goArea(area)"
            styleClass="p-button-success"
            >
          </p-button>
          <p-chip
            *ngIf="area.reservationsEnabled"
            class="fw-bold align-self-center ms-2"
            label="Reservable"
            styleClass="reservable-chip"
            >
          </p-chip>
          <div class="flex-grow-1"></div>
          <p-button
            *ngIf="managerMode"
            icon="pi pi-pencil"
            (click)="editArea(area)"
            class="me-2"
            >
          </p-button>
          <p-button
            *ngIf="managerMode"
            icon="pi pi-trash"
            styleClass="p-button-danger"
            (click)="deleteArea(area)"
            >
          </p-button>
        </div>
      </div>
   </div>
  </ng-template>

  <ng-template pTemplate="paginatorleft" let-state>
    <button
      type="button"
      (click)="refresh()"
      pButton
      icon="pi pi-refresh"
      class="p-button-outlined"
      >
    </button>
  </ng-template>

  <ng-template pTemplate="paginatorright">
  </ng-template>
</p-dataView>

<app-parkla-dialog
  [visible]="areaDeleteVisible"
  rightButtonStyleClass="p-button-danger"
  rightButtonLabel="Delete"
  rightButtonIcon="pi pi-trash"
  (rightButtonClick)="deleteConfirm()"
  (leftButtonClick)="cancelConfirm()"
  title="Park Area Deletion"
  >
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h6 class="my-1">{{deletingArea?.id}}</h6>
    <h6 class="my-1">{{deletingArea?.name}}</h6>
  </div>
</app-parkla-dialog>
