:host ::ng-deep .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

:host ::ng-deep .area-name {
  font-size: 1.5rem;
  font-weight: 700;
}

:host ::ng-deep .area-description {
  margin: 0 0 1rem 0;
}

:host ::ng-deep .area-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

:host ::ng-deep .area-category {
  font-weight: 600;
  vertical-align: middle;
}

:host ::ng-deep .area-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 100%;
}

:host ::ng-deep .area-list-item img {
  width: 150px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

:host ::ng-deep .area-list-item .area-list-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

:host ::ng-deep .area-list-item .area-reservable {
  margin: 0 0 .5rem 0;
}

:host ::ng-deep .area-list-item .area-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

:host ::ng-deep .area-list-item .area-list-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

:host ::ng-deep .area-list-item .p-button {
  margin-bottom: .5rem;
}

:host ::ng-deep .area-grid-item {
  margin: .5em;
  border: 1px solid #dee2e6;
}

:host ::ng-deep .area-grid-item .area-grid-item-top,
:host ::ng-deep .area-grid-item .area-grid-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

:host ::ng-deep .area-grid-item img {
  width: 75%;
  height: 300px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

:host ::ng-deep .area-grid-item .area-grid-item-content {
  text-align: center;
}

:host ::ng-deep .area-grid-item .area-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.card {
  padding: 2rem;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .area-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  :host ::ng-deep .area-list-item img {
    width: 75%;
    margin: 2rem 0;
  }
  :host ::ng-deep .area-list-item .area-list-detail {
    text-align: center;
  }
  :host ::ng-deep .area-list-item .area-price {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  :host ::ng-deep .area-list-item .area-list-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  :host ::ng-deep .area-list-item .area-list-action {
    margin-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .area-grid-item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=area-dataview.component.css.map */